#spanshots{
    font-family: Pacifico, serif;
    margin-left: -50px;
    font-size: 25px;
}

.mdl-layout__header{
    height: 110px;
}

.mdl-layout__header--waterfall-hide-top{
    height: 105px;
}

.mdl-layout__tab{
    font-stretch: expanded;
    font-size: medium;
}