#spanshots{
    font-family: Pacifico, serif;
    margin-left: -50px;
    margin-top: 8px;
}

.mdl-layout__header{
    height: 100px;
}

.mdl-layout__header--waterfall-hide-top{
    height: 105px;
}

